@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinning {
  animation-name: spinning;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#toolbar {
  border: 2px solid burlywood !important;
}

.toolbar {
  display: flex;
}

.toolbar__group {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.stacked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 2px solid burlywood;
  padding: 0 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.main-container {
  flex-grow: 1;
}

.button {
  background-color: transparent;
  border: none;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top__menu .menu__nav {
  font-size: 1.2rem;
  text-decoration: none;
  color: dimgray;
}
.header__top__menu .menu__nav:hover {
  color: rgba(105, 105, 105, 0.75);
}
.header__top__menu .menu__nav:not(:last-child) {
  margin-right: 2rem;
}
.header__top__menu .menu__nav--active {
  text-decoration: underline;
}
.header__opt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__opt__buttons {
  order: -1;
  margin-right: 0.3rem;
}
.header__opt__buttons .button {
  padding: 1rem;
  border-radius: 0.4rem;
  width: 8rem;
}
.header__opt__buttons .button__sync {
  cursor: pointer;
  border: 2px slateblue solid;
  color: slateblue;
}
.header__opt__buttons .button__sync--synced:disabled {
  background-color: rgba(144, 238, 144, 0.75);
}

.todos__menu__button {
  padding: 1rem 2rem;
  cursor: pointer;
}
.todos__menu__button--active {
  border: none;
  background-color: cornflowerblue;
  border-radius: 0.6rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: whitesmoke;
  font-weight: bold;
  cursor: default;
}
.todos #current,
.todos #completed,
.todos #deleted {
  padding: 1rem;
}
.todos__content {
  background-color: cornflowerblue;
  position: relative;
  top: -0.2rem;
}
.todos__content__current {
  display: none;
}
.todos__content__current--active {
  display: block;
  justify-content: space-between;
}
.todos__content__completed {
  display: none;
}
.todos__content__completed--active {
  display: block;
  justify-content: space-between;
}
.todos__content__deleted {
  display: none;
}
.todos__content__deleted--active {
  display: block;
  justify-content: space-between;
}

.notes__buttons *:not(:last-child) {
  margin-right: 1rem;
}
.notes__buttons__button {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.notes__buttons__button__new {
  background-color: rgba(205, 133, 63, 0.05);
  border: 2px peru solid;
  color: peru;
}
.notes__buttons__button__new:hover {
  background-color: transparent;
}
.notes__buttons__button__trash {
  background-color: rgba(220, 20, 60, 0.05);
  border: 2px crimson solid;
  color: crimson;
}
.notes__buttons__button__trash:hover {
  background-color: transparent;
}
.notes__buttons__button__sync {
  background-color: rgba(255, 165, 0, 0.05);
  border: 2px orange solid;
  color: orange;
}
.notes__buttons__button__sync--synced {
  background-color: transparent;
  border: 2px green solid;
  color: green;
}
.notes__buttons__button__sync--synced:disabled {
  cursor: default;
}
.notes__buttons__button__sync:hover:not(:disabled) {
  background-color: transparent;
}
.notes__list {
  list-style: none;
  margin: 1rem 0;
}
.notes__list__item {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  margin: 0.3rem;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  background-color: cornsilk;
}
.notes__list__item__title {
  cursor: pointer;
}
.notes__list__item__title:hover {
  background-color: rgba(255, 248, 220, 0.75);
}
.notes__list__no-items {
  margin: 2rem 0;
  font-size: 1.4rem;
}

.editor__title-input {
  padding: 1rem 0;
}
.editor__buttons {
  padding: 1rem 0;
}
.editor__buttons__button {
  padding: 1rem 2rem;
  cursor: pointer;
  border: 2px peru solid;
  border-radius: 0.4rem;
}
.editor__buttons__button:disabled {
  background-color: rgba(205, 133, 63, 0.15);
  border-color: burlywood;
}
.editor__buttons > *:not(:last-child) {
  margin-right: 0.4rem;
}

.shopping {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.shopping__form {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.shopping__form__group {
  display: flex;
  flex-direction: row;
  border: 0.2rem solid;
  border-radius: 0.4rem;
  height: 4rem;
}
.shopping__form__group__item {
  border-color: blueviolet;
  max-width: fit-content;
}
.shopping__form__group__item__name {
  min-width: 60%;
}
.shopping__form__group__item__quantity {
  width: 20%;
}
.shopping__form__group__item__price {
  width: 20%;
}
.shopping__form__group__list__name {
  width: 100%;
}
.shopping__form__group__input {
  flex-grow: 1;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
}
.shopping__form__group__input__quantity-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
}
.shopping__form__group__input__quantity-controls__button {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}
.shopping__form__group__input--item-name {
  width: 100%;
}
.shopping__form__group__input--item-quantity {
  width: 100%;
}
.shopping__form__group__input--item-price {
  width: 100%;
}
.shopping__form__group__input--list-name {
  width: 100%;
}
.shopping__form__group__button {
  cursor: pointer;
  padding: 1rem;
  height: 4rem;
  background-color: lightsteelblue;
  border: none;
  border-radius: 0.4rem;
  margin-left: 0.2rem;
  color: blueviolet;
}
.shopping__form__group__button:disabled {
  background-color: rgba(176, 196, 222, 0.75);
}
.shopping__form__group__button:hover {
  background-color: rgba(176, 196, 222, 0.75);
}
.shopping__list__header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.shopping__list__header__button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: blueviolet;
}
.shopping__list__header__button__icon {
  width: 3rem;
  height: 3rem;
}
.shopping__list__header__button__sync {
  cursor: pointer;
  color: blueviolet;
}
.shopping__list__header__button__sync--synced:disabled {
  cursor: default;
  color: green;
}
.shopping__list__header__list-name {
  font-size: 1.6rem;
  flex-grow: 1;
}
.shopping__list__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.shopping__list__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 1.8rem 0;
  color: aliceblue;
}
.shopping__list__item {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  margin: 0.3rem;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(176, 196, 222, 0.75);
}
.shopping__list__item:hover {
  background-color: rgba(176, 196, 222, 0.45);
}
.shopping__list__item--finished {
  background-color: aquamarine;
}
.shopping__list__item--finished:hover {
  background-color: rgba(127, 255, 212, 0.75);
}
.shopping__list__item--deleted {
  background-color: crimson;
  color: antiquewhite;
}
.shopping__list__item--deleted:hover {
  background-color: rgba(220, 20, 60, 0.75);
}
.shopping__list__item__value {
  display: none;
}
.shopping__list__item__value--show {
  flex-grow: 1;
  display: flex;
}
.shopping__list__item__input {
  display: none;
}
.shopping__list__item__input--show {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.shopping__list__item__input--show input {
  font-size: 1.4rem;
  font-family: sans-serif;
  border: none;
  flex-grow: 1;
}
.shopping__list__item__name {
  flex-grow: 1;
  cursor: pointer;
}
.shopping__list__item__buttons .button__control {
  cursor: pointer;
  margin-right: 0.8rem;
}
.shopping__list__item__buttons .button__update-todo {
  margin-left: 1rem;
}
.shopping__list__item__buttons .button__delete-todo {
  margin-right: 0;
}
.shopping__list__items {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.shopping__list__items__item {
  display: flex;
  font-size: 1.4rem;
}
.shopping__list__items__item__name {
  min-width: 60%;
}
.shopping__list__items__item__quantity {
  width: 20%;
}
.shopping__list__items__item__price {
  width: 20%;
}

.form {
  flex-grow: 1;
}
.form__group {
  display: flex;
  border: 0.2rem solid;
  border-radius: 0.4rem;
}
.form__group__notes {
  border-color: burlywood;
}
.form__group__todos {
  border-color: lightsteelblue;
}
.form__group__input {
  flex-grow: 1;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
}
.form__group__input__notes:focus {
  outline: none;
  outline: 0.2rem peru solid;
}
.form__group__input__todos {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form__group__input__todos:focus {
  outline: none;
  outline: 0.2rem darkblue solid;
}
.form__group__button {
  cursor: pointer;
  padding: 0.4rem 1rem;
  background-color: lightsteelblue;
  border: none;
  border-radius: 0.2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0.2rem;
  color: darkslateblue;
}
.form__group__button:disabled {
  background-color: rgba(176, 196, 222, 0.75);
}
.form__group__button:hover {
  background-color: rgba(176, 196, 222, 0.75);
}

.list__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.list__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 1.8rem 0;
  color: aliceblue;
}
.list__item {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  margin: 0.3rem;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  background-color: cornsilk;
}
.list__item:hover {
  background-color: rgba(255, 248, 220, 0.75);
}
.list__item--finished {
  background-color: aquamarine;
}
.list__item--finished:hover {
  background-color: rgba(127, 255, 212, 0.75);
}
.list__item--deleted {
  background-color: crimson;
  color: antiquewhite;
}
.list__item--deleted:hover {
  background-color: rgba(220, 20, 60, 0.75);
}
.list__item__value {
  display: none;
}
.list__item__value--show {
  flex-grow: 1;
  display: flex;
}
.list__item__input {
  display: none;
}
.list__item__input--show {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.list__item__input--show input {
  font-size: 1.4rem;
  font-family: sans-serif;
  border: none;
  flex-grow: 1;
}
.list__item__name {
  flex-grow: 1;
}
.list__item__buttons .button__control {
  cursor: pointer;
  margin-right: 0.8rem;
}
.list__item__buttons .button__update-todo {
  margin-left: 1rem;
}
.list__item__buttons .button__delete-todo {
  margin-right: 0;
}

.footer {
  text-align: center;
  padding: 0.4rem 0;
}

/*# sourceMappingURL=index.css.map */
