#toolbar {
    border: 2px solid burlywood !important;
}

.toolbar {
    display: flex;
}

.toolbar__group {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.stacked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-right: 2px solid burlywood;
    padding: 0 5px;
}