@import "./keyframes";
@import "./toolbar";

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.main-container {
    flex-grow: 1;
}

.button {
    background-color: transparent;
    border: none;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__menu {

            .menu__nav {
                font-size: 1.2rem;
                text-decoration: none;
                color: dimgray;

                &:hover {
                    color: rgba(dimgray, 0.75);
                }

                &:not(:last-child) {
                    margin-right: 2rem;
                }

                &--active {
                    text-decoration: underline;
                }
            }
        }
    }

    &__opt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__buttons {
            order: -1;
            margin-right: 0.3rem;

            .button {
                padding: 1rem;
                border-radius: 0.4rem;
                width: 8rem;

                &__sync {
                    cursor: pointer;
                    border: 2px slateblue solid;
                    color: slateblue;

                    &--synced {
                        &:disabled {
                            background-color: rgba(lightgreen, 0.75);
                        }
                    }
                }
            }
        }
    }
}

.todos {
    &__menu {
        &__button {
            padding: 1rem 2rem;
            cursor: pointer;

            &--active {
                border: none;
                background-color: cornflowerblue;
                border-radius: 0.6rem;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                color: whitesmoke;
                font-weight: bold;
                cursor: default;
            }
        }
    }

    #current,
    #completed,
    #deleted {
        padding: 1rem;
    }

    &__content {
        background-color: cornflowerblue;

        position: relative;
        top: -0.2rem;

        &__current {
            display: none;

            &--active {
                display: block;
                justify-content: space-between;
            }
        }

        &__completed {
            display: none;

            &--active {
                display: block;
                justify-content: space-between;
            }
        }

        &__deleted {
            display: none;

            &--active {
                display: block;
                justify-content: space-between;
            }
        }
    }
}

.notes {
    &__buttons {
        & *:not(:last-child) {
            margin-right: 1rem;
        }

        &__button {
            padding: 1rem 2rem;
            border-radius: 0.4rem;
            cursor: pointer;

            &__new {
                $color: peru;
                background-color: rgba($color, 0.05);
                border: 2px $color solid;
                color: $color;

                &:hover {
                    background-color: transparent;
                }
            }

            &__trash {
                $color: crimson;
                background-color: rgba($color, 0.05);
                border: 2px $color solid;
                color: $color;

                &:hover {
                    background-color: transparent;
                }
            }

            &__sync {
                $color: orange;
                background-color: rgba($color, 0.05);
                border: 2px $color solid;
                color: $color;

                &--synced {
                    $color: green;
                    //background-color: rgba($color, 0.05);
                    //border: 2px $color solid;
                    background-color: transparent;
                    border: 2px $color solid;
                    color: $color;

                    &:disabled {
                        //background-color: rgba(green, 0.75);
                        cursor: default;
                    }
                }

                &:hover:not(:disabled) {
                    background-color: transparent;
                }
            }
        }
    }

    &__list {
        list-style: none;
        margin: 1rem 0;

        &__item {
            display: flex;
            justify-content: space-between;
            padding: 0.8rem;
            margin: 0.3rem;
            font-size: 1.4rem;
            font-family: sans-serif;
            font-weight: bold;
            color: rgba(black, 0.75);
            background-color: cornsilk;

            &__title {
                cursor: pointer;

                &:hover {
                    background-color: rgba(cornsilk, 0.75);
                }
            }
        }

        &__no-items {
            margin: 2rem 0;
            font-size: 1.4rem;
        }
    }
}

.editor {
    &__form {
    }

    &__title-input {
        padding: 1rem 0;
    }

    &__buttons {
        padding: 1rem 0;

        &__button {
            padding: 1rem 2rem;
            cursor: pointer;
            border: 2px peru solid;
            border-radius: 0.4rem;

            &:disabled {
                background-color: rgba(peru, 0.15);
                border-color: burlywood;
            }
        }

        & > *:not(:last-child) {
            margin-right: 0.4rem;
        }
    }
}

.form {
    flex-grow: 1;

    &__group {
        display: flex;
        border: 0.2rem solid;
        border-radius: 0.4rem;

        &--notes {
            border-color: burlywood;
        }

        &--todos {
            border-color: lightsteelblue;
        }

        //&__label {}

        &__input {
            flex-grow: 1;
            padding: 1rem;
            border: none;
            border-radius: 0.2rem;

            &--notes {
                &:focus {
                    outline: none;
                    outline: 0.2rem peru solid;
                }
            }

            &--todos {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &:focus {
                    outline: none;
                    outline: 0.2rem darkblue solid;
                }
            }
        }

        &__button {
            cursor: pointer;
            padding: 0.4rem 1rem;
            background-color: lightsteelblue;
            border: none;
            border-radius: 0.2rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: 0.2rem;
            color: darkslateblue;

            &:disabled {
                background-color: rgba(lightsteelblue, 0.75);
            }

            &:hover {
                background-color: rgba(lightsteelblue, 0.75);
            }
        }
    }
}

.list {
    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
    }
    &__empty {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.8rem;
        padding: 1.8rem 0;
        color: aliceblue;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem;
        margin: 0.3rem;
        font-size: 1.4rem;
        font-family: sans-serif;
        font-weight: bold;
        color: rgba(black, 0.75);
        background-color: cornsilk;

        &:hover {
            background-color: rgba(cornsilk, 0.75);
        }

        &--finished {
            background-color: aquamarine;
            &:hover {
                background-color: rgba(aquamarine, 0.75);
            }
        }

        &--deleted {
            background-color: crimson;
            color: antiquewhite;

            &:hover {
                background-color: rgba(crimson, 0.75);
            }
        }

        &__value {
            display: none;

            &--show {
                flex-grow: 1;
                display: flex;
            }
        }

        &__input {
            display: none;

            &--show {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;

                input {
                    font-size: 1.4rem;
                    font-family: sans-serif;
                    border: none;
                    flex-grow: 1;
                }
            }
        }

        &__name {
            flex-grow: 1;
        }

        &__buttons {
            .button {
                &__control {
                    cursor: pointer;
                    margin-right: 0.8rem;
                }

                &__update-todo {
                    margin-left: 1rem;
                }

                &__delete-todo {
                    margin-right: 0;
                }
            }
        }
    }
}

.footer {
    text-align: center;
    padding: 0.4rem 0;
}
